<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Province</title>
    <head th:replace="layout::head"></head>
</head>
<body>
<h1>View Province: <span th:text="${province.name}"></span></h1>
<a href="/provinces">Back to province list</a>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
        </tr>
    </th:block>
</table>
<footer th:replace="layout::footer"></footer>
</body>
</html>